%h2 Login and experience the awesomeness.
= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  = devise_error_messages!
  = f.input :email, required: false
  = f.input :password, required: false
  = f.button :submit, "Login"
  - if devise_mapping.rememberable?
    = f.check_box :remember_me, :default_value => :checked
= render :partial => "devise/shared/links"

