- content_for :column1 do
  %blockquote.pull-right
    = render 'shared/mission_statement'
- content_for :column2 do
  .row-fluid
    .span8
      = simple_form_for(resource, :as => resource_name, html: { class: 'form-horizontal' }, :url => session_path(resource_name)) do |f|
        %legend login
        - if f.error_notification
          .alert.alert-error.fade.in
            %a.close{"data-dismiss" => "alert", :href => "#"} ×
            = f.error_notification
        = f.input :email
        = f.input :password, required: true
        .form-actions
          = f.button :submit, "Login", class: 'btn-large btn-primary'
          - if devise_mapping.rememberable?
            = f.check_box :remember_me, text: "Remember me"
      = render :partial => "devise/shared/links"

