.row-fluid
  .span3.well
    = render 'shared/mission_statement'
  .span6
    .form-vertical
      = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        %fieldset
          %legend login
          = f.email_field :email
          = f.password_field :password
          - if devise_mapping.rememberable?
            = f.check_box :remember_me
          = f.submit "Login"
      = render :partial => "devise/shared/links"

