.row-fluid
  .span3.well
    = render 'shared/mission_statement'
  .span8
    .row-fluid 
      .span3.label.label-warning
        Step 1: Sign up 
      .span3.label
        Step 2: Choose password 
      .span3.label
        Step 3: Choose subdomain 
    %br/
    %legend Resend confirmation instructions
= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
  = devise_error_messages!
  %p
    = f.label :email
    %br/
    = f.email_field :email
  %p= f.submit "Resend confirmation instructions"
= render :partial => "devise/shared/links"
