- content_for :column1 do
  %blockquote.pull-right
    = render 'shared/mission_statement'
- content_for :column2 do
  %legend Change your password
  = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), html: { :method => :put, class: "form-horizontal" } ) do |f|
    = devise_error_messages!
    = f.hidden_field :reset_password_token
    = f.input :password, label: "New password"
    = f.input :password_confirmation, label: "Once more"
    .form-actions= f.submit "Change my password", class: "btn btn-primary"
  = render :partial => "devise/shared/links"
