.row
  .span12.form-horizontal
    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }, :validate => true) do |f|
      %fieldset
        %legend Edit your settings
        = f.input :name
        = f.input :subdomain
        = f.input :email
        = f.input :current_password, required: false
        = f.input :welcome_phrase,
            :hint => "(Other people will see this when they look at your welcomes)"
        = f.input :thankyou_phrase,
            :hint => "(Other people will see this when they look at your thankyous)"
        = f.input :password,
            label: "New password", required: false,
            :hint => "(Leave blank unless you want to change your old password)"
        = f.input :password_confirmation,
            label: "New password confirmation", required: false,
            :placeholder => "Must match new password above",
            :hint => "(Leave blank unless you want to change your old password)"
      .form-actions
        = f.button :submit, "Update your settings", class: "btn-large btn-primary"
      %h3 Cancel my account
      %p
        Unhappy?
        = link_to "Cancel my account and delete any record of me on this site.", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete
      = link_to "Home", :back

