.row-fluid
  .span3
    .well
      = render 'shared/left_sidebar'
  .span5
    .form-vertical
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
        %fieldset
          %legend Sign up without sending a Merciboq!
          = f.email_field :email, placeholder: "fred@merciboq.com"
          = f.submit raw "Sign up and we'll email you a confirmation"
        = render :partial => "devise/shared/links"

