.row-fluid
  .span3.well
    = render 'shared/mission_statement'
  .span6
    .form-vertical
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
        %fieldset
          %legend sign up without sending a MerciboQ!
          = f.email_field :email, placeholder: "fred@merciboq.com"
          = f.submit raw "Sign up and we'll email you a confirmation"
          = render :partial => "devise/shared/links"

