%h2 Sign up
= simple_form_for(resource, validate: true, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  = f.input :name, validate: true
  = f.input :email, validate: true
  = f.input :password, :hint => "Letters and numbers"
  = f.input :password_confirmation, :hint => "Must match password"
  = f.button :submit, "Sign up"
= render :partial => "devise/shared/links"

