.row-fluid
  .span3.well
    = render 'shared/mission_statement'
  .span8
    .row-fluid 
      .span3.label.label-warning
        Step 1: Sign up 
      .span3.label
        Step 2: Choose Password 
      .span3.label
        Step 3: Choose Subdomain 
    %br/
    %legend Step 1: Sign up 
    = simple_form_for(resource, :as => resource_name, html: { class: 'form-horizontal' }, :url => registration_path(resource_name)) do |f|
      - if f.error_notification
        .alert.alert-error.fade.in
          %a.close{"data-dismiss" => "alert", :href => "#"} ×
          = f.error_notification
      = f.input :email
      .form-actions
        = f.button :submit, "Sign up to get a confirmation email", class: 'btn-large btn-primary'
      = render :partial => "devise/shared/links"