.user_info
  %a{:href => user_path(current_user)}
    = gravatar_for current_user, :size => 30
  %strong
    Name
  %br/
  = current_user.name
  %br/
  %strong
    URL
    %br/
  = link_to user_path(current_user), current_user
  %br/
  %strong
    Subdomain
  %p
  //#{link_to current_user.subdomain, (current_user.subdomain + ".merciboq.com")}.merciboq.com
  %br/
  %strong
    = current_user.welcomes.count
    Welcomes
  %br/
  %strong
    = current_user.thankyous.count
    Thankyous

