.user_info
  %center
  #username
    %center
      = link_to current_user.subdomain + ".merciboq.com", (current_user.subdomain + ".merciboq.com")
  %br/
  = raw(current_user.calendar)
  %br/
  = current_user.welcome_phrase
  %br/
  %strong
    = current_user.welcomes.count
    Welcomes
  %br/
  %strong
    = current_user.thankyous.count
    Thankyous

