.form-horizontal
  %legend Show your appreciation
  = simple_form_for @thankyou, class: "form-horizontal" do |f|
    - if current_user
      = f.input :thanker, disabled: true, placeholder: "#{current_user.email}", class: "disabled"
    - else
      = f.input :thanker, label: "Thanker", placeholder: "Your email"
    = f.input :welcomer, label: "Welcomer", placeholder: "Email for the person you appreciate"
    = f.input :headline, placeholder: "4 stars!"
    = f.input :content, placeholder: "Be genuine.  Be specific.  Be tasteful."
    .form-actions
      = f.submit "Show your appreciation", class: "btn btn-primary"

