%tr
  %td
    = gravatar_for thankyou.thanker, :size => 15
    | 
    = link_to thankyou.thanker.name.titleize, root_url(subdomain: thankyou.thanker.subdomain) 
    wrote about 
    = link_to thankyou.welcomer.name, root_url(subdomain: thankyou.welcomer.subdomain)  
    %strong
      = thankyou.headline
    .merciboq
      = thankyou.content
    &mdash; Posted
    / = time_ago_in_words(@thankyou.created_at)
    / ago.
    = render "thankyous/add_this"
    - @thankyou.attachments.each do |attachment|
      = link_to(attachment.filename, attachment, :target => '_blank')
  %td
    - if current_user == @user
      = link_to "edit", thankyou_edit_url(thankyou), class: "btn btn-mini btn-warning"
      = link_to "delete", thankyou_delete_url(thankyou), :confirm => 'Not feeling it any more, huh?', :method => :delete, class: "btn btn-mini btn-danger"
  
