%tr
  %td.thankyou
    %span.content
      #{gravatar_for thankyou.welcomer, :size => 15}
      | #{link_to thankyou.welcomer.name, thankyou.welcomer} --
      %strong
        = thankyou.headline
      "#{thankyou.content}"
    %span.timestamp
      Posted #{time_ago_in_words(thankyou.created_at)} ago.
      - thankyou.attachments.each do |attachment|
        = link_to(attachment.filename, attachment, :target => '_blank')
      - if @user = thankyou.thanker
        |
        - if url = thankyou_edit_url
          = link_to "delete", thankyou_delete_url(thankyou), :confirm => 'Not feeling it any more, huh?', :method => :delete
        - else
          |
          = link_to "edit", thankyou_edit_url(thankyou)
          |
          = link_to "delete", thankyou_delete_url(thankyou), :confirm => 'Not feeling it any more, huh?', :method => :delete

