%tr
  %td.thankyou
    %span.content
      #{gravatar_for thankyou.welcomer, :size => 15}
      | #{link_to thankyou.welcomer.name, thankyou.welcomer} --
      %em
        = thankyou.headline
      "#{thankyou.content}"
    %span.timestamp
      Posted #{time_ago_in_words(thankyou.created_at)} ago.

