- content_for :column1 do
  %blockquote.pull-right
    = render 'shared/mission_statement'
- content_for :column2 do
  .row-fluid
    %legend Edit this thankyou
    / = render 'thankyou'
    - @thankyou.attachments.each do |attachment|
      = link_to(attachment.filename, attachment, :target => '_blank')
    .form-horizontal
      = simple_form_for(@thankyou, url: thankyous_url(@thankyou), html: { method: :put }) do |f|
        = f.input :headline, input_html: { class: "span4", rows: 2}
        = f.input :content, input_html: {class: "span4"}
        .form-actions
          = f.button :submit, "Update this Merciboq"
        