%table.profile{:summary => "Profile information"}
  %tr
    %td.main
      %h1
        = gravatar_for @user
        = @user.name
      - if @user.thankyous.empty?
        = render 'shared/thankyou_steps'
      -else
        %table.thankyous{:summary => "User thankyous"}
          = render @thankyous
          = paginate @thankyous
        = paginate @thankyous
    %td.sidebar.round
      %strong Name
      = @user.name
      %br/
      %strong URL
      = link_to user_path(@user), @user
      %br/
      %strong Welcomes
      = @user.thankyous.count
      %br/
      %strong Thankyous
      = @user.thankyous.count

