%table.profile{:summary => "Profile information"}
  %tr
    %td.main
      %h1
        = gravatar_for @user
        = @user.name
      - if @user.welcomes.empty?
        Nobody has thanked #{you_or_user(@user)} yet.
        = render 'shared/thankyou_steps'
        = render 'shared/thankyou_tips'
      - else
        %p
          #{@user.welcome_phrase}
        %table.thankyous{:summary => "User thankyous"}
          = render 'welcome'
    %td.sidebar.round
      %strong Name
      = @user.name
      %br/
      %strong URL
      = link_to user_path(@user), @user
      %br/
      %strong
        Thankyous
      = @user.thankyous.count
      %br/
      %strong
        Welcomes
      = @user.welcomes.count

