%table.front
  %tr
    %td.main
      - if user_signed_in?
        = paginate @users
        %ul.users
          - @users.each do |user|
            %li
              = link_to user.name, root_url
        = paginate @users
      - else
        - @recent_thankyous.each do |thankyou|
          %table.thankyous{:summary => "Recent thankyous"}
            - @recent_thankyous.each do |thankyou|
              %tr
                %td.thankyou
                  %span.content
                    = link_to gravatar_for thankyou.thanker, :size => 15
                    = link_to thankyou.thanker.name, thankyou.thanker
                    thanked
                    = link_to thankyou.welcomer.name, root_url(:subdomain => thankyou.welcomer.subdomain)
                    %strong
                      #{thankyou.headline} --
                    "#{thankyou.content}"
                  %span.timestamp
                    Posted recently.
    %td.sidebar.round
      %h3
        Have someone you'd like to thank?
      = render 'shared/thankyou_steps'
      = render 'shared/thankyou_tips'
`

