%table.profile{:summary => "Profile information"}
  %tr
    %td.main
      %h1
        = gravatar_for @user
        = @user.name
      - if @user.welcomes.empty?
        = render 'shared/thankyou_steps'
      - else
        %table.thankyous{:summary => "User thankyous"}
          - @welcomes.each do |welcome|
            %tr
              %td.thankyou
                %span.content
                  welcomed #{link_to welcome.thanker.name} --
                  %em
                    = welcome.headline
                  "#{welcome.content}"
                %span.timestamp
                  Posted #{time_ago_in_words(welcome.created_at)} ago
    %td.sidebar.round
      %strong Name
      = @user.name
      %br/
      %strong URL
      = link_to user_path(@user), @user
      %br/
      %strong
        Thankyous
      = @user.thankyous.count
      %br/
      %strong
        Welcomes
        = @user.welcomes.count

