%table.profile{:summary => "Profile information"}
  %tr
    %td.main
      %h1
        = gravatar_for @user
        = @user.name
      = if @user.welcomes.empty?
        = render 'shared/thankyou_steps'
      - else
        %table.welcomes{:summary => "welcomes"}
          = render 'nothing'
    

