= gravatar_for @user
%h1= @user.name
- if @user.welcomes.empty?
  Nobody has thanked #{you_or_user(@user)} yet.
  = render 'shared/thankyou_steps'
  = render 'shared/thankyou_tips'
- else
  %p @user.welcome_phrase
  %table.table.table-bordered.table-striped
    %colgroup
      %col.span1
        something
      %col.span7
    %thead
      %tr
        %th 
        %th
    %tbody
      %tr

    
        - @welcomes.each do |thankyou|
          %tr
            %td.thankyou
              %span.content
                #{gravatar_for welcome.thanker, :size => 15}
                |
                #{link_to welcome.thanker.name, welcome.thanker} wrote --
                %em
                  = welcome.headline
                "#{welcome.content}"
              %span.timestamp
                Thankyou sent #{time_ago_in_words(welcome.created_at)} ago
