= form_for(resource, :url => confirm_user_path) do |f|
  = devise_error_messages!
  %fieldset
    %legend 
      Choose a password:
    = f.hidden_field    :confirmation_token
    = f.email_field     :email
    = f.text_field      :name
    = f.text_field      :subdomain
    = f.password_field  :password
    = f.password_field  :password_confirmation
  %p.clearfix
    = f.submit raw "Confirm that you own #{@user.email}"
= link_to 'Home', root_url
%br/
= render :partial => 'devise/shared/links'

