choooooz
= current_user

= link_to 'skip', next_wizard_path, class: "btn btn-primary"

= simple_form_for(resource, :url => confirm_user_path, class: "form-horizontal") do |f|
  = devise_error_messages!
  %fieldset
    %legend 
      Choose a password:
    = f.input   :email
    = f.input   :name
    = f.input   :subdomain
    = f.input   :password
    = f.input   :password_confirmation
  .form-actions
    = f.button :submit, "Confirm that you own ", class: "btn btn-primary"
= link_to 'Home', root_url
%br/
= render :partial => 'devise/shared/links'