%dl.dl-horizontal
  %dt Name:
  %dd= @user.name
  %dt Subdomain:
  %dd= @user.subdomain
  %dt Custom email:
  %dd= link_to "thanks@#{@user.subdomain}.merciboq.com"
  %dt Member since:
  %dd
    = time_ago_in_words(@user.created_at)
    ago
  %dt Welcomes:
  %dd
    %span.badge.badge-info
      = @user.welcomes.count
  %dt Thankyous:
  %dd
    %span.badge.badge-info
      = current_user.thankyous.count