%footer
  .footer
    %ul.nav.nav-pills
      %li= link_to "Home", root_url(:host => request.domain)
      %li= link_to "About", about_url(:host => request.domain)
      %li= link_to "Help", help_url(:host => request.domain)
      %li= link_to "Contact", contact_url(:host => request.domain)
      %li= link_to "Terms of Use", terms_url(:host => request.domain)
      %li= link_to "Privacy Policy", privacy_url(:host => request.domain)
      - if signed_in?
        %li= link_to "Users", users_url(:host => request.domain)
= stylesheet_link_tag 'application'