%footer
  %nav.round
    %ul
      %li= link_to_unless_current "Home", root_url(:host => request.domain)
      |
      %li= link_to_unless_current "About", about_url(:host => request.domain)
      |
      %li= link_to_unless_current "Help", help_url(:host => request.domain)
      |
      %li= link_to_unless_current "Contact", contact_url(:host => request.domain)
      |
      %li= link_to_unless_current "Terms of Use", terms_url(:host => request.domain)
      |
      %li= link_to_unless_current "Privacy Policy", privacy_url(:host => request.domain)
      - if signed_in?
        |
        %li= link_to_unless_current "Users", users_url(:host => request.domain)

