%header
  = link_to logo, root_path
  %nav.round
    %ul
      - if signed_in?
        %li= link_to "Thankyous", current_user
        |
        %li= link_to "Welcomes", current_user
      -else
        %li= link_to_unless_current "Home", root_path
      |
      = render 'devise/menu/registration_items'
      |
      = render 'devise/menu/login_items'

