%header
  = link_to logo, root_path
  %nav.round
    %ul
      - if signed_in?
        %li= link_to_unless_current "Thankyous", thankyou_path
        |
        %li= link_to_unless_current "Welcomes", welcome_path
      -else
        %li= link_to_unless_current "Home", root_path
      |
      = render 'devise/menu/registration_items'
      |
      = render 'devise/menu/login_items'

