!!! 5
%html{:lang => "en"}
  = render 'layouts/head'
  %body
    = render 'layouts/header'
    .span12
      .container-fluid
        = render 'shared/flash_messages', :locals => {:flash => flash}
        = yield
        = render 'layouts/footer'

