!!! 5
%html{:lang => "en"}
  = render 'layouts/head'
  %body
    .container
      = render 'layouts/header'
      = render 'shared/flash_messages', :locals => {:flash => flash}
      = yield
      = render 'layouts/footer'

